<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> 

<title>{{ map_title }} | ボクのマップ</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=415, user-scalable=no /">

<link rel="stylesheet" media="all" href="/js/jquery.simpledialog.0.1.css" type="text/css" />
<link rel="stylesheet" media="all" href="/css/common.css" type="text/css" />

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script language="Javascript" type="text/javascript">
	google.load("jquery", "1");
	google.load("jqueryui", "1");
</script>

</head>
<body>

<h1>Edit Title</h1>

<form action="/map/edit_title/{{ map_id }}" method="post">
<input type="hidden" name="mode" value="modify" />
Map Title: <input type="text" name="map_title" value="{{ map_title }}" />
<br />
<input type="submit" value="Send" />
</form>

</body>
</html>